In [1]:

'''
Importing Libraries
'''
import pandas as pd
import numpy as np 
import seaborn as sns
import requests
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('Felony_Sentences.csv')

data.head(20)

,OBJECTID,RID,GENERIC_CASE_ID,GENERIC_OFFENDER_ID,CHARGE_NUMBER,SENTENCE_YEAR,RACE,GENDER,AGE_GROUP,OFFENSE,...,OFFENSE_SEVERITY_GROUP,SENTENCE_TYPE,SENTENCE_IMPOSED_MONTHS,SENTENCE_SUSPENDED_MONTHS,SENTENCE_TO_SERVE_MONTHS,SENTENCE_PROBATION_MONTHS,VVCA_AMT,FINE_AMT,RESTITUTION_AMT,FINE_SUSPENDED_AMT
0,1,1,3574668,3485785,1,2018,Black,M,15-17,1ST DEG MURDER W/ARMED,...,M1,Indeterminate/Incarceration,NaN,NaN,NaN,NaN,100,0.0,0.0,0.0
1,2,2,3806508,7427096,9,2018,Black,M,15-17,Conspiracy,...,M9,Indeterminate,NaN,NaN,NaN,NaN,0,0.0,0.0,0.0
2,3,3,3806508,7427096,12,2018,Black,M,15-17,Murder I,...,M1,Life,NaN,NaN,NaN,NaN,0,0.0,0.0,0.0
3,4,4,3806508,7427096,13,2018,Black,M,15-17,1ST DEG MURDER W/ARMED,...,M1,Life,NaN,NaN,NaN,NaN,0,0.0,0.0,0.0
4,5,5,3806508,7427096,15,2018,Black,M,15-17,Poss Firearm During Crime of Violence or Dange...,...,M5,Indeterminate,NaN,NaN,NaN,NaN,0,0.0,0.0,0.0
5,6,6,3806508,7427096,16,2018,Black,M,15-17,Carrying a Pistol Without a License,...,M8,Short Split,12.0,12.0,1.0,60.0,0,0.0,0.0,0.0
6,7,7,7806164,1021121,2,2018,Other or Unknown,M,22-30,UCSA PWID COCAINE,...,D2,Indeterminate,NaN,NaN,NaN,NaN,0,0.0,0.0,0.0
7,8,8,9015717,5317747,4,2018,Other or Unknown,M,15-17,ASLT W/I KILL WHILE ARMED,...,M3,Probation,180.0,180.0,0.0,36.0,0,0.0,0.0,0.0
8,9,9,4792566,7849479,6,2018,Black,M,15-17,1ST DEG MURDER W/ARMED,...,M1,Life,NaN,NaN,NaN,NaN,100,0.0,0.0,0.0
9,10,10,4792566,7849479,7,2018,Black,M,15-17,POS. F/A DURING VIO/DAG OFF,...,M5,Indeterminate,NaN,NaN,NaN,NaN,100,0.0,0.0,0.0
10,11,11,4792566,7849479,8,2018,Black,M,15-17,Carrying a Pistol Without a License,...,M8,Short Split,20.0,20.0,1.0,60.0,100,0.0,0.0,0.0
11,12,12,7167194,5317747,5,2018,Other or Unknown,M,15-17,POS. F/A DURING VIO/DAG OFF,...,M5,Indeterminate,NaN,NaN,NaN,NaN,0,0.0,0.0,0.0
12,13,13,7167194,5317747,7,2018,Other or Unknown,M,15-17,VOLUNTARY MAN. WHILE ARMED,...,M3,Indeterminate/Incarceration,NaN,NaN,NaN,NaN,0,0.0,0.0,0.0
13,14,14,5967414,2482848,10,2018,Black,M,15-17,2ND DEG MURDER W/ARMED,...,M2,Indeterminate/Incarceration,NaN,NaN,NaN,NaN,0,0.0,0.0,0.0
14,15,15,5967414,2482848,11,2018,Black,M,15-17,2ND DEG MURDER W/ARMED,...,M2,Indeterminate/Incarceration,NaN,NaN,NaN,NaN,0,0.0,0.0,0.0
15,16,16,8567971,8258401,4,2018,Black,M,22-30,POS. F/A DURING VIO/DAG OFF,...,M5,Incarceration,1.0,0.0,1.0,0.0,100,NaN,NaN,0.0
16,17,17,8567971,8258401,7,2018,Black,M,22-30,POS. F/A DURING VIO/DAG OFF,...,M5,Incarceration,1.0,0.0,1.0,0.0,100,NaN,NaN,0.0
17,18,18,8567971,8258401,10,2018,Black,M,22-30,POS. F/A DURING VIO/DAG OFF,...,M5,Incarceration,1.0,0.0,1.0,0.0,100,NaN,NaN,0.0
18,19,19,8567971,8258401,11,2018,Black,M,22-30,CARRY PISTOL W/O LIC-OUTSIDE H0ME/BUSINESS,...,M8,Incarceration,1.0,0.0,1.0,0.0,100,NaN,NaN,0.0
19,20,20,8567971,8258401,12,2018,Black,M,22-30,ADW GUN,...,M6,Incarceration,1.0,0.0,1.0,0.0,100,NaN,NaN,0.0

In [3]:
'''RID/Race/offesce type/offense/severity - is the severity of similar crimes the same by race?'''

'''cases by race - how many cases are there per race?'''

'''type by age and gender'''

'''Race/offense type/sentence type/sentence imposted month - are sentences given similar for similar crimes by race?'''

'Race/offense type/sentence type/sentence imposted month - are sentences given similar for similar crimes by race?'

In [3]:
race = data.value_counts('RACE').reset_index()
race.head()

               RACE      0
0             Black  21184
1  Other or Unknown   1262
2             White    823
3          Hispanic     49
4             Asian     12

In [4]:
gender = data.value_counts('GENDER').reset_index()
gender.head()

  GENDER      0
0      M  21218
1      F   1858

In [63]:
gender.columns.values[1] = 'count'

In [64]:
gender.columns.values[0] = 'gender'

In [65]:
gender

  gender  count
0      M  21218
1      F   1858

In [66]:
gender[count] = gender[count].two_numeric(int)

KeyError: 'count'

In [15]:
age = data.value_counts('AGE_GROUP').reset_index()
print(age)

  AGE_GROUP     0
0     22-30  7783
1     18-21  5540
2     31-40  4259
3     41-50  2964
4     51-60  1632
5     15-17   720
6     61-70   305
7       71+    22

In [8]:
sns.barplot(x = "gender", y = "count", data = gender)
plt.xlabel("z")
plt.ylabel("z")
plt.show()

ValueError: Could not interpret input 'gender'

In [72]:
data['gender'].value_counts()
stateCrashes = pd.DataFrame(joindf['gender'].value_counts(), index =['M',
                                'F'])

KeyError: 'gender'